{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="info-intro">
        <h1>About SenseBot</h1>
        <p>A general overview of what SenseBot does and how it does it.</p>
    </div>
    <div id="concept" class="about-concept">
        <h2>Concept</h2>
        <p>In a world where nearly everyone has access to algorithmic trading technologies but it is only used by Wall
        Street brokers, we're trying to make learning and experimenting more accessible.</p>
    </div>
    <div id="uses" class="about-uses">
        <h2>Uses</h2>
        <p>SenseBot originated as a test-mechanism for low-cap stocks, but the possibilities don't end there!</p>
    </div>
    <div is="limitations" class="about-limitations">
        <h2>Limitations</h2>
        <p>As with any financial analysis tool, SenseBot isn't perfect. Calculations are based on educated estimates of
        bid/ask availability. As a result, we cannot predict exactly how the stock would have performed, but we can get
        pretty close!</p>
    </div>

</div>
{% endblock %}