{% extends "base.html" %}
{% block content %}
    <div class="container">
        <p>Yfinance, the Python package used by this algorithm provides open/close and high/low prices for each specified
          interval over the course of the period, it does not indicate actual transaction instances with price, volume, and
          bid/ask information. As a result, I attempted to create a conservative estimate of transaction volumes and was
          unable to account for larger bids/asks that would take precedent over certain attempted transactions.</p>
    </div>

{% endblock %}