{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="center-header">
        <h1>Login</h1>
    </div>
</div>
<div class="container page-form">
    <form id="login-form" action="/auth/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email" required>
        </div>
        <div class=form-group">
            <label for="password">Password</label>
            <input tyle="password" id="password" class="form-control" name="password" required>
        </div>
        <div class="page-button">
            <button type="submit" class="btn btn-secondary">Log in</button>
        </div>
    </form>
</div>
<div class="container text-center">
    <h4>Don't have an account yet?</h4>
    <a href="/register" class="btn btn-info" role="button">Register</a>
</div>
{% endblock %}