{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row text-dark profile-header">
            <h1>Hello {{ user.username }}</h1>
        </div>
        <div class="row text-dark">
            <h3>Results</h3>
        </div>
        <div class="row text-center">
            <table id="user_entries" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">View</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Period</th>
                        <th scope="col">Buy Point</th>
                        <th scope="col">Sell Point</th>
                        <th scope="col">Starting Balance</th>
                        <th scope="col">Ending Balance</th>
                        <th scope="col">% Change</th>
                        <th scope="col" style="color:red">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        {% set url = "/entry/" + entry.id|string %}
                        {% set d_url = "/delete/" + entry.id|string %}
                        {% set change = (((entry.final_money|float)-(entry.money|float))/(entry.money|float))*100 %}
                        {% if change < 0 %}
                            {% set c = 'red' %}
                        {% elif change > 0 %}
                            {% set c = 'green' %}
                        {% elif change == 0 %}
                            {% set c = 'white' %}
                        {% endif %}
                        <th scope="row"><a href={{ url }}><img src="../static/assets/Plus.png" width="25px"></a></th>
                        <td>{{ entry.ticker }}</td>
                        <td>{{ entry.period }}</td>
                        <td>{{ entry.buy }}</td>
                        <td>{{ entry.sell }}</td>
                        <td>{{ entry.money }}</td>
                        <td>{{ entry.final_money }}</td>
                        <td style="color:{{ c }}">{{ '%0.2f'| format(change|float) }}</td>
                        <th scope="row"><a href={{ d_url }} style="color:red"><img src="../static/assets/X.png" width="20px"></a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row text-dark">
            <h3>Posts</h3>
        </div>
        <div class="row">
            <table id="user_posts" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                {% for post in posts %}
                <tbody>
                    <tr>
                        <th scope="row">{{ post.title }}</th>
                        <td>{{ post.date }}</td>
                        <td>{{ post.content }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <a href="/forum" class="btn btn-lg btn-strategies text-light" style="background-color: #4095BF; border:0px;">Forum</a>
        </div>
    </div>

{% endblock %}