{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row text-dark profile-header">
            <div class="bio-info">
                <h1>{{ user.username }}</h1>
                <hr>
                <div class="bio-section">
                    <p>{{ user.bio }}</p>
                </div>
                <div class="profile-buttons">
                    <div class="profile-button-container">
                        <a href="/account" class="btn btn-lg btn-block text-light profile-button">Edit Profile</a>
                    </div>
                    <div class="profile-button-container">
                        <a href="/forum" class="btn btn-lg btn-block text-light profile-button">Forum</a>
                    </div>
                    <div class="profile-button-container">
                        <a href="/entry_dashboard" class="btn btn-lg btn-block text-light profile-button">Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="bio-pic">
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </div>
        </div>
        <div class="row text-dark profile-header">
            <h2>Results</h2>
        </div>
        <div class="row text-center">
            <table id="user_entries" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">View</th>
                        <th scope="col">Type</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Period</th>
                        <th scope="col">Trades</th>
                        <th scope="col">Starting Balance</th>
                        <th scope="col">Ending Balance</th>
                        <th scope="col">% Change</th>
                        <th scope="col" style="color:#DC3545">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        {% set url = "/" + entry.type_info|string|lower + "_entry/" + entry.id|string %}
                        {% set d_url = "/delete/" + entry.id|string %}
                        {% set change = (((entry.final_liquid|float)-(entry.money|float))/(entry.money|float))*100 %}
                        {% if change < 0 %}
                            {% set c = '#DC3545' %}
                        {% elif change > 0 %}
                            {% set c = '#90EE90' %}
                        {% elif change == 0 %}
                            {% set c = 'white' %}
                        {% endif %}
                        <th scope="row"><a href={{ url }}><img src="../static/assets/Plus.png" width="25px"></a></th>
                        <td>{{ entry.type_info }}</td>
                        <td>{{ entry.ticker }}</td>
                        <td>{{ entry.period }}</td>
                        <td>{{ entry.tt|length }}</td>
                        <td>{{ entry.money }}</td>
                        <td>{{ entry.final_money }}</td>
                        <td style="color:{{ c }}">{{ '%0.2f'| format(change|float) }}</td>
                        <th scope="row"><a href={{ d_url }} style="color:red"><img src="../static/assets/X.png" width="20px"></a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row text-dark profile-header">
            <h2>Posts</h2>
        </div>
        <div class="profile-posts">
            {% if posts|length >0 %}
                {% for post in posts %}
                {% set url = "/post/" + post.id|string %}
                    <div class="profile-post-container">
                        <div class="profile-post-plus">
                            <a href={{ url }}><img src="../static/assets/Plus.png"></a>
                        </div>
                        <div class="profile-post-content">
                            <h4>{{ post.title }} | {{ post.date.strftime('%Y-%m-%d') }}</h4>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% elif posts|length == 0 %}
                <div>
                    <p>You do not have any posts yet.</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}