{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="info-intro">
        <h1>Strategies</h1>
        <p>These are several different strategies that you can use.</p>
    </div>
    <div class="checker-flex">
        <div class="checker-item">
            <div class="checker-content">
                <img src="../static/assets/Static_Range_Graphic.png" width="100%">
            </div>
        </div>
        <div class="checker-item">
            <div class="checker-content">
                <h3>Static Range</h3>
                <p>Every time the price drops below the buy point, the algorithm buys. Every time the price
                surpasses the sell point, the algorithm sells. For this strategy you should research the stock's
                price ahead of time to determine reasonable buy/sell points.</p>
                <div class="page-button text-center">
                    <a class="btn btn-secondary" href="/range">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class="checker-flex-two">
        <div class="checker-item">
            <div class="checker-content">
                <h3>Simple Moving Average</h3>
                <p>A simple moving averages takes the arithmetic mean of a stock's price over the past number
                    of days, for example over the previous 5, 10, or 100 days. For this algorithm, you decide how
                    far from the moving average to set the buy and sell points.</p>
                <div class="page-button text-center">
                    <a class="btn btn-secondary" href="/moving_average">Go</a>
                </div>
            </div>
        </div>
        <div class="checker-item">
            <div class="checker-content">
                <img src="../static/assets/Moving_Average_Graphic.png" width="100%">
            </div>
        </div>
    </div>
    <div class="checker-flex">
        <div class="checker-item">
            <div class="checker-content">
                <img src="../static/assets/Weighted_Moving_Average_Graphic.png" width="100%">
            </div>
        </div>
        <div class="checker-item">
            <div class="checker-content">
                <h3>Weighted Moving Average</h3>
                <p>A weighted moving average behaves like a simple moving average, but it puts more weight on recent
                    data and less on past data. For this algorithm, you decide how far from the weighted moving average to
                    set the buy and sell points.</p>
                <div class="page-button text-center">
                    <a class="btn btn-secondary" href="/weighted_moving_average">Go</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}