body {
    font-family: 'Raleway', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.foot-wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
.push {
  height: 100px;
}
.page-form{
    max-width: 500px;
    padding-bottom: 50px;
}
.page-button{
    padding-top:20px;
}
.nav-text{
    font-size: 24px;
}
.navbar{
    padding: 0px;
    margin: 0px;
}
.log{
    background-color: white;
}
.log-text{
    color: #263238;
}
.center-header{
    padding-top: 50px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #D3D3D3;
}
.footer-text{
    padding-top: 40px;
}
/* Home page */
.jumbotron {
    padding-bottom: 0px;
}
.home-hero{
    background: linear-gradient(150deg, #4095BF 20%, #2D6886 20%);
}
.hero-image{
    width: 100%;
    height: 100%;
    background-image: url('../assets/Green_Hero_Logo.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 95% 170%;
}
.lead {
    padding-top: 40px;
}
.btn-start{
    background-color: #263238;
    border: 0px;
    color: white;
}
.btn-start:hover{
    background-color: #90EE90;
    color: white;
}
.home-col-flex{
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-col-three{
    color: #263238;
    padding: 0px 25px;
    width: 400px;
}
.home-about{
     background-color: #4095BF;
     padding:50px 8%;
     margin-top: 30px;
}
.btn-about{
    border: 0px;
    background-color: white;
    color: #263238;
    margin-top: 20px;
}
.btn-about:hover {
    background-color: #90EE90;
}
.flex-col-two{
    color: #263238;
    padding: 0px 0px;
    width: 90%;
    max-width: 700px;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.home-strategies-text{
    width: 50%;
    min-width: 300px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 180px;
}
.home-strategies-buttons{
    width: 350px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.btn-strategies{
    width: 280px;
    margin: 5px auto;
    padding: auto;
}
/* Strategies Page */
.info-intro{
    padding: 50px 0px;
}
.checker-flex{
    width: 100%;
    padding: 90px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}
.checker-flex-two{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.checker-item{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    width: 50%;
    height: 450px;
    display: flex;
    align-items: center;
}
.checker-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* About Page */
.flex-col-three-sm{
    color: #263238;
    padding: 0px 30px;
    width: 330px;
}
.abt-checker {
    height: 300px;
}
.concept-background {
    width: 100%;
    background-color: #E8E8E8;
    padding: auto auto;
}
.about-concept{
    display: inline-block;
    padding-top: 30px;
    margin: 30px auto;
}
.three-icon{
    padding-top: 20px;
    padding-bottom: 20px;
}
.what-is-at {
     padding: 100px 0px;
}
.what-is-at img {
    float: right;
    vertical-align: top;
    margin:20px;
    width: 250px;
}
.about-uses{
    padding-top: 30px;
}
.limitation-background {
    width: 100%;
    background-color: #4095BF;
}
.about-limitations{
    display: table;
    padding: 40px 8%;
    margin: 30px auto;
}
.about-start-button{
    margin: 60px auto;
}
/* Algo pages */
.algo-intro{
    padding: 50px 100px;

}
.stock-data-form{
    padding: 50px;
    background-color: #E8E8E8;
}

/* Results page */
.results-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.results-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.results-criteria{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    width: 50%;
    padding: 1%;
}
.results-results{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 350px;
    width:50%;
    padding: 1%;
}
.chart-div{
    width: 90%;
    min-width: 500px;
    height: 500px;
    padding: 20px;
    margin: auto;
    display: block;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 500px;
    height: 400px;
}

/* Login page */
.btn-register{
    background-color: #4095BF;
}

/* Profile page */
.profile-header {
    padding-top: 50px;
    padding-bottom: 20px;
}
.bio-info{
    height: 250px;
    width: 50%;
    min-width: 300px;
    position: relative;
}
.profile-button-container-1{
    width: 50%;
    height: 65px;
    padding: 10px;
    float:left;
}
.profile-button-container-2{
    margin-left: 50%;
    height: 65px;
    padding: 10px;
}
.profile-button {
    background-color: #4095BF;
    border:0px;
}
.bio-section {
    padding: 10px;
}
.bio-section p{
    color: #a2a2a2;
}
.bio-pic {
    height: 250px;
    width: 50%;
    min-width: 300px;
    text-align: center;
}
.profile-text {
    padding-bottom:50px;
}
#user_entries_wrapper{
    margin: auto;
    width: 100%;
}
.page-item.active .page-link{
    background-color: #4095BF;
    border-color: #4095BF;
}
.page-link {
    color: #4095BF;
}
.page-link:hover {
    color: #4095BF;
}
.profile-posts {
    background-color: #E8E8E8;
    width: 100%;
    padding: 30px;
    margin: 20px;
}
.profile-post-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}
.profile-post-plus {
    width: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.profile-post-plus img{
    width: 25px;
    height: 25px;
}
.profile-post-content {
    width: 90%
}
/* Account */
.account-info {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
}
.account-pic {
    width: 250px;
    height: 250px;
}
.account-text {
    padding-left: 50px;
    padding-right: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* New post page */

.new-post-form{
    max-width: 600px;
}

/* Forum */
.single-post{
    background-color: #E8E8E8;
    margin: 50px;
    padding: 50px;
}